<a href="https://colab.research.google.com/github/femiiadedayo/Tuples/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ('i '+'love '+'You')

i love You

In [2]:
first_name = "Tobiloba"
last_name = "Adejumo"
full_name = first_name + " " + last_name
print(full_name)

Tobiloba Adejumo

In [3]:
first_name = "femi"
print('my name is {}' .format(first_name))

my name is femi

In [7]:
print("hello {}, you are +{} today" .format(first_name, 1))

hello femi, you are +1 today

In [8]:
first_name = "Godwin"
print(f"hello {first_name}")

hello Godwin

In [9]:
word = "animal"
print(word[0])
print(word[1])
print(word[2])

a
n
i

In [10]:
print(word[0:2])

an

In [11]:
print(word[0])
print(word[1:3])
print(word[3:5])

a
ni
ma

In [12]:
print(word[0])
print(word[1:3])
print(word[3:6])

a
ni
mal

In [13]:
print(word.title())

Animal

In [14]:
print("Love and Light".upper())

LOVE AND LIGHT

In [15]:
print("GREATNESS".lower())

greatness

In [17]:
WORD = "hELLO THERE!"
print(WORD.replace('!', '.'))

hELLO THERE.

In [18]:
sentence = "welcome to Hamoye Externship"
print(sentence.find('ship'))

24

In [19]:
x =10
y =4
if x>y:
  print ("x is greater than y")

x is greater than y

In [20]:
x = 1
y = 4
if x > y:
  print("x is greater than y")
else:
  print("y is greater than x")

y is greater than x

In [21]:
x = 1
y = 3
if x > y:
  print ("x is greater than y")
elif x==y:
  print ("x is equal to y")
else:
  print("y is greater thn x")

y is greater thn x

In [22]:
Names = ['Zarah', 'David', 'Abigail']
print(Names[0])

Zarah

In [27]:
list2 = ["cat", "Dog", ["fish", "Crocodile"], 70]
print (list2[2])

['fish', 'Crocodile']

In [34]:
#list2 = list1[2]
print(list2[1])

Dog

In [35]:
student1 = ['Godwin', 24, "computer science"]
print(student1)

['Godwin', 24, 'computer science']

In [36]:
student1 = ['Godwin', 24, "computer science"]
print(student1)
#update student godwin's age
student1[1] = 25
print(student1)

['Godwin', 24, 'computer science']
['Godwin', 25, 'computer science']

In [37]:
prices = [23.5, 4, 2.5, 9.0]
prices.sort()
print(prices)

[2.5, 4, 9.0, 23.5]

In [38]:
list1 = [2, 9.7, "word", True]
print(type(list1))

<class 'list'>

In [39]:
weeks = ["monday", "tuesday", "wednesday"]
weeks.append("thursday")
print(weeks)

['monday', 'tuesday', 'wednesday', 'thursday']

In [40]:
weeks = ["monday", "tuesday", "wednesday"]
weeks.append(["thursday", "friday"])
print(weeks)

['monday', 'tuesday', 'wednesday', ['thursday', 'friday']]

In [41]:
weeks = ["monday", "tuesday", "wednesday"]
weeks.extend(["thursday", "friday"])
print(weeks)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [42]:
weeks = ["monday", "tuesday", "wednesday"]
print(weeks.index("monday"))

0

In [43]:
Ages = [3, 5, 7]
print("{} is the highest age in the group".format(max(Ages)))

7 is the highest age in the group

In [44]:
print("{} is the lowest age in the group".format(min(Ages)))

3 is the lowest age in the group

In [46]:
print(len(Ages))
#list() function

3

In [47]:
string1 = "python"
list1 = list(string1)
print(list1)
print(list1[4])

['p', 'y', 't', 'h', 'o', 'n']
o

In [48]:
scores = (2.4, 6.9, 3.6, 8.3, 2.0, 4.5)
print(scores[4])

2.0

In [49]:
tupple1 = (2.4, 6.9, 3.6, 8.3, 2.0, 4.5)
tupple2 = (1, 2, 3, 4, 5, 6)
new_tupple = tupple1 + tupple2
print(new_tupple)

(2.4, 6.9, 3.6, 8.3, 2.0, 4.5, 1, 2, 3, 4, 5, 6)

In [54]:
colors = {"red", "black", "white", "green", "black"}
print(colors)

{'green', 'white', 'black', 'red'}

In [55]:
colors =set(["red", "black", "white", "green", "black"])
colors = list(colors)
print(colors)

['green', 'white', 'black', 'red']

In [59]:
colors =set(["red", "black", "white", "green", "black"])
colors.add("blue")
colors.remove('red')
print(len(colors))

4

In [61]:
A = {'red', 'blue', 'green'}
B = {'yellow', 'red', 'orange'}
# by operator
print(A|B)
# by method
print(A.union(B))

{'blue', 'orange', 'green', 'yellow', 'red'}
{'blue', 'orange', 'green', 'yellow', 'red'}

In [62]:
#by operator
print(A&B)

{'red'}

In [63]:
# by method
print(A.intersection(B))

{'red'}

In [64]:
#by operator
print(A-B)

{'green', 'blue'}

In [65]:
#by method
print(A.difference(B))

{'green', 'blue'}

In [66]:
#by operator
print(A^B)

{'green', 'yellow', 'blue', 'orange'}

In [67]:
#by Method
print(A.symmetric_difference(B))

{'green', 'yellow', 'blue', 'orange'}